<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Images/HCN-SEAL-Stylized-white-background-400x401.png" />
                    <div class="navbar-title">
                        <img src="~/Images/ho-chunk-nation.png" />
                        <hr />
                        Inventory Tutorial
                    </div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Add Request", "Create", "Requests")</li>
                    <li>@Html.ActionLink("Requests", "Index", "Requests")</li>
                    <li>@Html.ActionLink("Shopping List", "Index", "ShoppingLists")</li>
                </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="navbar navbar-fixed-bottom">
        <footer>
            <img class="pull-right" src="~/Images/ho-chunk-feathers-1.png" />
            <span class="center-block">&copy; @DateTime.Now.Year - Ho-Chunk Nation, Inc. All rights reserved.</span>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/defaultFormStyling.js"></script>
    <script src="~/Scripts/defaultButtonStyling.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
